<div class="container animate__animated animate__fadeIn mt-5">

    <div class="row mt-5 mb-5">
        <div class="col-12 text-center">
            <h2>CRUD con backend creado en Spring boot</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <img src="../../../assets/img/tocallo.svg" width="250" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <small>Es un tocallo</small>
        </div>
    </div>

    <!-- aqui vamos a poner las rutas hijas para el crud -->
    
    <div class="row mt-5 mb-5">
        <div class="col-12 d-flex flex-row-reverse ">
            <a [routerLink]="['nuevoUsuario']" class="btn btn-outline-primary">Agregar nuevo</a>
            <a [routerLink]="['listadoUsuarios']" class="btn btn-outline-info mr-3">Listado</a>
        </div>
    </div>

    <router-outlet></router-outlet>
    

</div>