<div class="col-12 animate__animated animate__fadeIn">
    <table class="table table-striped" >
        <thead>
            <tr>
            <th scope="col">#Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
            <th scope="row"> {{ usuario.id }} </th>
            <td> {{ usuario.nombre }} </td>
            <td> {{ usuario.apellido }} </td>
            <td> {{ usuario.email }} </td>
            <td>
                <a href="#" class="btn btn-success mr-3">Editar</a>
                <button (click)="eliminarUsuario( usuario.id )" class="btn btn-danger">Eliminar</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
